.row td{
    border: 1px solid #edeeee;
    color: black;
    padding: 5px;
    text-align: left;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40px;
}
.editSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.editSection button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}
.editSection button:hover{
    background-color: #edeeee;
}